


<nav class="nav nav-pills nav-stacked">
    <a asp-controller="Home" asp-action="Index" class="list-group-item">
        Home<span class="pull-right"> <i class="fa fa-home fa-lg"></i></span>
    </a>
    <a asp-controller="Customer" asp-action="Index" class="list-group-item">
        Customers<span class="pull-right"> <i class="fa fa-users fa-lg"></i></span>
    </a>
    <a asp-controller="Assignment" asp-action="Index" class="list-group-item">
        Assignments<span class="pull-right"> <i class="fa fa-calendar fa-lg"></i></span>
    </a>
    <a asp-controller="Assignment" asp-action="CreateTask" class="list-group-item">
        Create Assignment<span class="pull-right"> <i class="fa fa-home fa-lg"></i></span>
    </a>
    <a asp-controller="Home" asp-action="Upload" class="list-group-item">
        Upload<span class="pull-right"> <i class="fa fa-upload fa-lg"></i></span>
    </a>
    <a asp-controller="Assignment" asp-action="CreateTask" class="list-group-item">
        Profile<span class="pull-right"> <i class="fa fa-user fa-lg"></i></span>
    </a>
    
</nav>
<script>
</script>
